bin/
debug/
release/
x64/
artifacts/
docs/website/public
.vscode/
scripts/buildrelease.sh
res/libzecwalletlite.a
res/libsodium.a
res/libsodium/libsodium*
res/libsodium.a
res/libsodium/win*
src/ui_*.h
*.autosave
src/precompiled.h.cpp
.qmake.stash
zerwallet
Zerwallet-Lite.app
zerwallet-lite-mingw*
zerwallet-lite.vcxproj*
zerwallet.vcxproj*
zerwallet-lite.sln
zerwallet-lite.pro.user
/Makefile
/Makefile.*
qrc_application.cpp
zer-qt-wallet_plugin_import.cpp
zerwallet_plugin_import.cpp
zer-qt-wallet_resource*
zerwallet_resource*
workspace.code-workspace
*.zip
*.tar.gz
*.xcsettings
.DS_Store
*.mak
zcashd
IDEWorkspaceChecks.plist
*.sln
node_modules
zer-qt-wallet.pro.user.4.10-pre1
zerwallet-lite
zerwallet-lite_plugin_import.cpp
zerwallet-lite_resource.rc
buildrelease.sh
openssl-1.1.1e/
